[v-cloak] > * { display: none; }
[v-cloak]::before {
  content: " ";
  display: block;
  position: absolute;
  width: 256px;
  height: 256px;
  background-image: url('./loader.gif');
  background-size: cover;
}
